<header>
    <h1>Headache - logger</h1>
    
    {{!-- <script src="/js/header_req.js"></script> --}}

    <a href = "/">Home</a>
    <a href = "/meuperfil">Meu Perfil</a>
    <a href = "/cadastrar_dor">Cadastrar Dor</a>

    <br><br>    
</header>